{% load staticfiles %}
<html>
	<head>
		<title>Ηλεκτρονική Υποβολή ΠΔΕ</title>
		<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	</head>
	<body>
	{% load static %}
		<a class="btn btn-default" href="{% static 'images/energysave.pdf' %}"><h5><span class="glyphicon glyphicon-download-alt"> <font face="Courier">Απλές και Πρακτικές Συμβουλές Εξοικονόμησης Ενέργειας</font></span></h5></a>
		
	<p><font color=blue><br>Ποιός είναι ο κύριος στόχος μας? </b></font><br>Σκοπός μας είναι με τροποποιήσεις μικρού κόστους στο σπίτι μας, 
		να επιτύχουμε μείωση στην ενέργεια που καταναλώνουμε και άρα του λογαριασμού που πληρώνουμε στη ΔΕΗ. 
		Κάποιες από αυτές τις αλλαγές μπορούμε να τις κάνουμε μόνοι μας, ενώ άλλες ίσως χρειαστούμε τη βοήθεια ενός ειδικού.</p>
	
	<p><font color=blue><br>Πώς μπορώ να ξεκινήσω? </b></font><br>Κάθε σπίτι είναι διαφορετικό και τα άτομα που διαμένουν μέσα σε αυτό κάνουν διαφορετική χρήση της ηλεκτρικής ενέργειας. Κατά μέσο όρο, η ενέργεια που καταναλώνεται 
		από έναν Έλληνα είναι 1.600 kWh σε ετήσια βάση.Το σπίτι μας μπορούμε να το φανταστούμε σαν ένα σύστημα που αποτελείται 
		από μικρότερα υποσυστήματα που χρησιμοποιούν την ενέργεια. Όταν κάποιο από αυτά τα υποσυστήματα δεν λειτουργεί σωστά, τότε όλα τα επιμέρους υποσυστήματα επηρεάζονται αρνητικά και επιδεινώνονται οι συνθήκες διαβίωσης των ατόμων που διαμένουν στο χώρο.
		Άρα ο πρώτος μας στόχος είναι να κατανοήσουμε τον τρόπο που ρέει και χρησιμοποιείται η ενέργεια μέσα στο χώρο μας και ποια είναι τα «ενεργοβόρα» υποσυστήματα που χρήζουν συντήρησης ή αντικατάστασης.</p>
	
	<p><font color=blue><br>Ποια η διαφορά μεταξύ εξοικονόμησης ενέργειας και αύξησης της ενεργειακής απόδοσης? </b></font><br>Κάθε σπίτι είναι διαφορετικό και τα άτομα που διαμένουν μέσα σε αυτό κάνουν διαφορετική χρήση της ηλεκτρικής ενέργειας. Κατά μέσο όρο, η ενέργεια που καταναλώνεται 
		από έναν Έλληνα είναι 1.600 kWh σε ετήσια βάση.Το σπίτι μας μπορούμε να το φανταστούμε σαν ένα σύστημα που αποτελείται 
		από μικρότερα υποσυστήματα που χρησιμοποιούν την ενέργεια. Όταν κάποιο από αυτά τα υποσυστήματα δεν λειτουργεί σωστά, τότε όλα τα επιμέρους υποσυστήματα επηρεάζονται αρνητικά και επιδεινώνονται οι συνθήκες διαβίωσης των ατόμων που διαμένουν στο χώρο.
		Άρα ο πρώτος μας στόχος είναι να κατανοήσουμε τον τρόπο που ρέει και χρησιμοποιείται η ενέργεια μέσα στο χώρο μας και ποια είναι τα «ενεργοβόρα» υποσυστήματα που χρήζουν συντήρησης ή αντικατάστασης.
	</p>
	
	<p><font color=blue><br>Πόση ενέργεια μπορώ να εξοικονομήσω? </b></font><br>Συνήθως όσο μεγαλύτερος είναι ο λογαριασμός μας στη ΔΕΗ, τόσο μεγαλύτερη εξοικονόμηση μπορεί να επιτευχθεί. 
					Αν το σπίτι μας είναι παλιό και οι ηλεκτρικές συσκευές μας είναι και αυτές παλιές, η εξοικονόμηση μπορεί να φθάσει έως και 50%. Η εξοικονόμηση ή αύξηση της
					ενεργειακής απόδοσης μίας κατοικίας αφορά συνήθως: <ul><li>Την ηλεκτρική ενέργεια όπως φωτισμός, ψυγείο, air condition κλπ.</li>
					<li>Την ενέργεια θέρμανσης μέσω της καύσης πετρελαίου και φυσικού αερίου.</li></ul>		
	</p>
	<p><font color=blue><br>Πρακτικά, πως μπορώ να ξεκινήσω? </b></font><br></p>
		<div align=center><b>Βήμα Νο 1:</b></div>
	<p>Συγκεντρώνω όσο τω δυνατόν περισσότερους λογαριασμούς ΔΕΗ μου έχουν σταλεί τον τελευταίο χρόνο. Θα χρειαστούμε τουλάχιστον 3 λογαριασμούς:
		έναν περιόδου Ιανουαρίου-Φεβρουαρίου, έναν Ιουνίου-Ιουλίου και έναν Σεπτεμβρίου-Οκτωβρίου.
		Για τους υπολογισμούς μας θα χρειαστούμε την συνολική κατανάλωση ενέργειας και τις ημέρες κατανάλωσης όπως φαίνεται στο παραδείγμα
		λογαριασμού της ΔΕΗ, όπου σημειώνεται μέσα σε ορθογώνιο κόκκινου χρώματος οι μετρήσεις που μας ενδιαφέρουν.</p><br>
		<div align=center><img src="{% static "images/deh.jpg" %}" alt="DEH" width=450;height=300;/></div><br>
	<p>Χρειαζόμαστε τις καταναλώσεις μας σε καλοκαιρινή και χειμερινή περίοδο ώστε να υπολογίσουμε το πόση ενέργεια χρησιμοποιούμε για ψύξη και θέρμανση
		αντίστοιχα. Συγκεκριμένα, η διαφορά της καταναλισκόμενης ενέργειας ανάμεσα στους μήνες Ιανουαρίου-Φεβρουαρίου και Σεπτεμβρίου-Οκτωβρίου δείχνει το πόση ηλεκτρική ενέργεια
		καταναλώνουμε για θέρμανση (κλιματιστικά, ηλεκτρικές θερμάστρες κλπ) και αντίστοιχα, η διαφορά καταναλισκόμενης ενέργειας ανάμεσα στους
		μήνες Ιουνίου-Ιουλίου και Σεπτεμβρίου-Οκτωβρίου δείχνει το πόση ηλεκτρική ενέργεια καταναλώνουμε για ψύξη (κλιματιστικά, ανεμιστήρες κλπ).</p>
	<div align=center><b>Βήμα Νο 2:</b></div>
	<p>Εισερχόμαστε στην ιστοσελίδα www.einstein.gr, η οποία περιλαμβάνει χρήσιμες και πρακτικές συμβουλές εξοικονόμησης ενέργειας καθώς γνώμες και εμπειρίες χρηστών που διάβασαν τον οδηγό που κρατάτε στα χέρια σας.
		Επιλέγουμε τον σύνδεσμο που αναφέρει «Εξοικονόμηση Ενέργειας Πίνακας Ι» και εκτυπώνουμε τον Πίνακα Ι που περιέχει η ιστοσελίδα. Στην συνέχεια συμπληρώνουμε τα στοιχεία των λογαριασμών της ΔΕΗ που έχουμε συγκεντρώσει.
	</p>
	<div align=center><b>Βήμα Νο 3:</b></div>
	<p>Καταγράφουμε την ενέργεια που καταναλώνουν οι επιμέρους συσκευές στο χώρο που διαμένουμε. Για το σκοπό αυτό θα χρειαστούμε έναν απλό
		μετρητή ηλεκτρικής ενέργειας όπως για παράδειγμα είναι αυτός που δίνεται στη παρακάτω φωτογραφία και κοστίζει λιγότερο από 20 ευρώ στο εμπόριο.
	</p><br>
		<div align=center><img src="{% static "images/xavax.jpg" %}" alt="XAVAX" width=450;height=300;/></div><br>
	<p>Ο παραπάνω μετρητής δίνει τη δυνατότητα της μέτρησης τόσο της καταναλισκόμενης στιγμιαίας ισχύος, όσο και την ενέργεια που καταναλώνει μία
		συσκευή κατά τη διάρκεια όλης της ημέρας. Για παράδειγμα, μπορούμε να μετρήσουμε την ισχύ που καταναλώνει η τηλεόρασή μας τη στιγμή που
		λειτουργεί αλλά και την συνολική ενέργεια που καταναλώνει το ψυγείο μας κατά τη διάρκεια μίας μίας ημέρας.
		Για παράδειγμα αν συνδέσουμε το ψυγείο της κουζίνας μας στον μετρητή ενέργειας και βλέπουμε	πως η στιγμιαία κατανάλωση σε ισχύ της συσκευής
		είναι 100 W. Αφήνοντας το μετρητή σε λειτουργία	κατά τη διάρκεια όλης της νύχτας, αν πατήσουμε μία	φορά το κουμπί “meter” του μετρητή, βλέπουμε πως
		για χρονικό διάστημα 8 h το ψυγείο μας κατανάλωσε 400 Wh. Άρα μπορούμε να υποθέσουμε πως κατά τη διάρκεια της ημέρας το ψυγείο μας καταναλώνει
		περίπου 1,2 kWh την ημέρα ή 450 kWh ετησίως και	έτσι η λειτουργία του μας κοστίζει ετησίως περί τα 50 ευρώ! Ταυτόχρονα όμως βλέπουμε πως στο πίσω
		μέρος του ψυγείου μας ο κατασκευαστής αναγράφει ως ονομαστική ετήσια κατανάλωση 250 kWh και άρα, λόγω κακής λειτουργίας το ψυγείο μας καταναλώνει
		διπλάσια περίπου ενέργεια! Παρόμοιο έλεγχο μπορούμε να κάνουμε και για τις υπόλοιπες συσκευές στο χώρο μας. 
		Όμοια με το Βήμα Νο 2, κατεβάζουμε και εκτυπώνουμε τον Πίνακα ΙΙ από την ιστοσελίδα www.einstein.gr και τον συμπληρώνουμε με τα
		δεδομένα μέτρησης των επιμέρους συσκευών μας.
	</p>
	<div align=center><b>Βήμα Νο 4:</b></div>
	<p>Μέσα στο χώρο που διαμένουμε υπάρχουν συσκευές που καταναλώνουν ενέργεια χωρίς να τις χρησιμοποιούμε. Η ενέργεια αυτή ονομάζεται συχνά
		και «διαρρέουσα». Για παράδειγμα, ο φορτιστής κινητού τηλεφώνου, καταναλώνει ενέργεια όταν είναι στην πρίζα ακόμα και όταν δεν είναι συνδεδεμένο το
		τηλέφωνο επάνω του. Αυτό μπορούμε να το διαπιστώσουμε με το μετρητή ρεύματος όπως φαίνεται στη παρακάτω φωτογραφία..
		Η εμπειρία έχει δείξει πως η διαρρέουσα ενέργεια έχει σημαντική επίπτωση στη λειτουργία των αυτόνομων
		φωτοβολταϊκών συστημάτων καθώς οι συσκευές 	μπορούν να αδειάσουν την ενέργεια που είναι αποθηκευμένες στις μπαταρίες χωρίς να γίνει καμία
		πραγματική χρήση τους. Έτσι θα πρέπει να καταγράψουμε όλα εκείνα τα φορτία που είτε καταναλώνουν ενέργεια όταν
		βρίσκονται σε κατάσταση αναμονής, είτε λειτουργούν άσκοπα χωρίς να τα χρησιμοποιούμε.
		Όμοια με το Βήμα Νο 2 και 3, κατεβάζουμε και εκτυπώνουμε τον Πίνακα ΙΙΙ από την ιστοσελίδα www.einstein.gr και τον συμπληρώνουμε με τα
		δεδομένα που συγκεντρώσαμε από τις μετρήσεις μας.
	</p>
	<p>
	Τέλος, θα ήταν πολύ χρήσιμο να εισέλθετε στην ιστοσελίδα www.einstein.gr και να επιλέξετε τον σύνδεσμο «Φόρμα Επικοινωνίας» όπου μπορείτε να κάνετε σχόλια 
	σχετικά με τον συγκεκριμένο οδηγό ή την ιστοσελίδα και να αναφέρετε κάποιο μέτρο εξοικονόμησης ενέργειας που εσείς εφαρμόσατε στον χώρο που εργάζεστε ή διαμένετε. 
	Με τον τρόπο αυτό θα έχετε την δυνατότητα να ενημερώνεστε για πρακτικά μέτρα εξοικονόμησης ενέργειας σε επόμενους οδηγούς.
	</p><div align=center><font color = blue>Ευχαριστούμε θερμά που διαβάσατε τον οδηγό!</font></div>
	
	</body>
</html>