{% load static %}
<a class="btn btn-default" href="{% static 'images/pinakasI.pdf' %}"><h5><span class="glyphicon glyphicon-download-alt"> <font face="Courier">Πίνακας Ι - Καταναλώσεις αναγραφόμενες σε λογαριασμούς</font></span></h5></a>
<p></p>
<p align="center">
    <font color=#ff751a><strong><u>Πίνακας Ι </u></strong>
    <strong><u>- Καταγραφή καταναλώσεων από λογαριασμούς</u></strong></font>
</p>
<div align="center">
    <table border="1" cellspacing="0" cellpadding="0" width="1000">
        <tbody>
            <tr>
                <td width="99" nowrap="" valign="bottom">
                    <p align="center">
                        <strong>Λογαριασμός</strong>
                    </p>
                </td>
                <td width="161" nowrap="" valign="bottom">
                    <p align="center">
                        <strong>Περίοδος Λειτουργίας</strong>
                    </p>
                </td>
                <td width="149" nowrap="" valign="bottom">
                    <p align="center">
                        <strong>Ημέρες Κατανάλωσης</strong>
                    </p>
                </td>
                <td width="119" nowrap="" valign="bottom">
                    <p align="center">
                        <strong>Καταναλισκόμενη Ενέργεια (kWh)</strong>
                    </p>
                </td>
                <td width="319" valign="bottom">
                    <p align="center">
                        <strong></strong>
                    </p>
                    <p align="center">
                        <strong>Ημερήσια Κατανάλωση = </strong>
                    </p>
                    <p align="center">
                        <sup>Καταναλισκόμενη Ενέργεια</sup>/<sub>Ημέρες Κατανάλωσης</sub>​
                    </p>
                </td>
            </tr>
            <tr>
                <td width="99" nowrap="" rowspan="3">
                    <p align="center">
                        <strong>ΔΕΗ</strong>
                    </p>
                </td>
                <td width="161" nowrap="" valign="bottom">
                    <p align="center">
                        Ιανουάριος-Φεβρουάριος
                    </p>
                </td>
                <td width="149" nowrap="" valign="bottom">
                </td>
                <td width="119" nowrap="" valign="bottom">
                </td>
                <td width="319" valign="bottom">
                </td>
            </tr>
            <tr>
                <td width="161" nowrap="" valign="bottom">
                    <p align="center">
                        Ιούνιος-Ιούλιος
                    </p>
                </td>
                <td width="149" nowrap="" valign="bottom">
                </td>
                <td width="119" nowrap="" valign="bottom">
                </td>
                <td width="319" valign="bottom">
                </td>
            </tr>
            <tr>
                <td width="161" nowrap="" valign="bottom">
                    <p align="center">
                        Σεπτέμβριος-Οκτώβριος
                    </p>
                </td>
                <td width="149" nowrap="" valign="bottom">
                </td>
                <td width="119" nowrap="" valign="bottom">
                </td>
                <td width="319" valign="bottom">
                </td>
            </tr>
            <tr>
                <td width="99">
                    <p align="center">
                        <strong>Θέρμανση</strong>
                    </p>
                </td>
                <td width="749" nowrap="" colspan="4" valign="bottom">
                    <p align="center">
                        Ημερήσια Κατανάλωση Ιανουαρίου/Φεβρουαρίου – Ημερήσια Κατανάλωση Σεπτεμβρίου/Οκτωβρίου
                    </p>
                </td>
            </tr>
            <tr>
                <td width="99">
                    <p align="center">
                        <strong>Ψύξη</strong>
                    </p>
                </td>
                <td width="749" nowrap="" colspan="4" valign="bottom">
                    <p align="center">
                        Ημερήσια Κατανάλωση Ιουνίου/Ιουλίου – Ημερήσια Κατανάλωση Σεπτεμβρίου/Οκτωβρίου
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p></p>
<p align="center">
    <font color=#ff751a><strong><u>Πίνακας Ι </u></strong>
    <strong><u>- Παράδειγμα</u></strong></font>
</p>
<div align="center">
    <table border="1" cellspacing="0" cellpadding="0" width="1000">
        <tbody>
            <tr>
                <td width="99" nowrap="" valign="bottom">
                    <p align="center">
                        <strong>Λογαριασμός</strong>
                    </p>
                </td>
                <td width="161" nowrap="" valign="bottom">
                    <p align="center">
                        <strong>Περίοδος Λειτουργίας</strong>
                    </p>
                </td>
                <td width="149" nowrap="" valign="bottom">
                    <p align="center">
                        <strong>Ημέρες Κατανάλωσης</strong>
                    </p>
                </td>
                <td width="119" nowrap="" valign="bottom">
                    <p align="center">
                        <strong>Καταναλισκόμενη Ενέργεια (kWh)</strong>
                    </p>
                </td>
                <td width="319" valign="bottom">
                    <p align="center">
                        <strong></strong>
                    </p>
                    <p align="center">
                        <strong>Ημερήσια Κατανάλωση = </strong>
                    </p>
                    <p align="center">
                        <sup>Καταναλισκόμενη Ενέργεια</sup>/<sub>Ημέρες Κατανάλωσης</sub>​
                    </p>
                </td>
            </tr>
            <tr>
                <td width="99" nowrap="" rowspan="3">
                    <p align="center">
                        <strong>ΔΕΗ</strong>
                    </p>
                </td>
                <td width="161" nowrap="" valign="bottom">
                    <p align="center">
                        Ιανουάριος-Φεβρουάριος
                    </p>
                </td>
                <td width="149" nowrap="" valign="bottom">
                    <p align="center">
                        30
                    </p>
                </td>
                <td width="119" nowrap="" valign="bottom">
                    <p align="center">
                        300
                    </p>
                </td>
                <td width="319" valign="bottom">
                    <p align="center">
                        300/30 = 10 KWh ανά ημέρα
                    </p>
                </td>
            </tr>
            <tr>
                <td width="161" nowrap="" valign="bottom">
                    <p align="center">
                        Ιούνιος-Ιούλιος
                    </p>
                </td>
                <td width="149" nowrap="" valign="bottom">
                    <p align="center">
                        60
                    </p>
                </td>
                <td width="119" nowrap="" valign="bottom">
                    <p align="center">
                        470
                    </p>
                </td>
                <td width="319" valign="bottom">
                    <p align="center">
                        480/60= 8 KWh ανά ημέρα
                    </p>
                </td>
            </tr>
            <tr>
                <td width="161" nowrap="" valign="bottom">
                    <p align="center">
                        Σεπτέμβριος-Οκτώβριος
                    </p>
                </td>
                <td width="149" nowrap="" valign="bottom">
                    <p align="center">
                        40
                    </p>
                </td>
                <td width="119" nowrap="" valign="bottom">
                    <p align="center">
                        200
                    </p>
                </td>
                <td width="319" valign="bottom">
                    <p align="center">
                        200/40= 5 KWh ανά ημέρα
                    </p>
                </td>
            </tr>
            <tr>
                <td width="99">
                    <p align="center">
                        <strong>Θέρμανση</strong>
                    </p>
                </td>
                <td width="749" nowrap="" colspan="4" valign="bottom">
                    <p align="center">
                        10 – 5 = <strong>5 kWh ανά ημέρα για θέρμανση</strong> (ηλεκτρικά καλοριφέρ, κλιματιστικά κλπ)
                    </p>
                </td>
            </tr>
            <tr>
                <td width="99">
                    <p align="center">
                        <strong>Ψύξη</strong>
                    </p>
                </td>
                <td width="749" nowrap="" colspan="4" valign="bottom">
                    <p align="center">
                        10 – 8 = <strong>2 kWh ανά ημέρα για ψύξη</strong> (ανεμιστήρες, κλιματιστικά κλπ)
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>