{% load static %}
<a class="btn btn-default" href="{% static 'images/pinakasII.pdf' %}"><h5><span class="glyphicon glyphicon-download-alt"> <font face="Courier">Πίνακας ΙΙ - Καταναλώσεις των επιμέρους συσκευών</font></span></h5></a>
<p></p>
<p align="center">
    <font color=#ff751a><strong><u>Πίνακας ΙI</u></strong>
    <strong><u>- Καταγραφή καταναλώσεων ηλεκτρικών συσκευών</u></strong></font>
</p>
<div align="center">
    <table border="1" cellspacing="0" cellpadding="0" width="1000">
        <tbody>
            <tr>
                <td width="138" nowrap="">
                </td>
                <td width="284" colspan="2">
                    <p align="center">
                        <strong>
                            Αναγράφεται από τον κατασκευαστή
                            <br/>
                            σε ετικέτα πάνω στη συσκευή
                        </strong>
                    </p>
                </td>
                <td width="468" nowrap="" colspan="3">
                    <p align="center">
                        <strong>Τιμές που λαμβάνονται από το μετρητή ενέργειας ΗΑΜΑ</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="138" nowrap="">
                    <p align="center">
                        <strong>Ηλεκτρική Συσκευή</strong>
                    </p>
                </td>
                <td width="157" nowrap="">
                    <p align="center">
                        <strong>Ονομασία συσκευής</strong>
                    </p>
                </td>
                <td width="128">
                    <p align="center">
                        <strong>Ονομαστική ισχύς</strong>
                    </p>
                </td>
                <td width="137">
                    <p align="center">
                        <strong>Πραγματική σχύς</strong>
                    </p>
                </td>
                <td width="149">
                    <p align="center">
                        <strong>Ώρες λειτουργίας</strong>
                    </p>
                </td>
                <td width="181">
                    <p align="center">
                        <strong>Καταναλισκόμενη ενέργεια</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="138" nowrap="">
                    <p align="center">
                        Ψυγείο
                    </p>
                </td>
                <td width="157" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="137" nowrap="">
                </td>
                <td width="149" nowrap="">
                </td>
                <td width="181" nowrap="">
                </td>
            </tr>
            <tr>
                <td width="138" nowrap="">
                    <p align="center">
                        Κλιματιστικό
                    </p>
                </td>
                <td width="157" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="137" nowrap="">
                </td>
                <td width="149" nowrap="">
                </td>
                <td width="181" nowrap="">
                </td>
            </tr>
            <tr>
                <td width="138" nowrap="">
                    <p align="center">
                        Τηλεόραση
                    </p>
                </td>
                <td width="157" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="137" nowrap="">
                </td>
                <td width="149" nowrap="">
                </td>
                <td width="181" nowrap="">
                </td>
            </tr>
            <tr>
                <td width="138">
                    <p align="center">
                        Ηλεκτρονικός
                        <br/>
                        Υπολογιστής
                    </p>
                </td>
                <td width="157" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="137" nowrap="">
                </td>
                <td width="149" nowrap="">
                </td>
                <td width="181" nowrap="">
                </td>
            </tr>
            <tr>
                <td width="138" rowspan="4">
                    <p align="center">
                        Άλλες ηλεκτρικές
                        <br/>
                        συσκευές
                    </p>
                </td>
                <td width="157" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="137" nowrap="">
                </td>
                <td width="149" nowrap="">
                </td>
                <td width="181" nowrap="">
                </td>
            </tr>
            <tr>
                <td width="157" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="137" nowrap="">
                </td>
                <td width="149" nowrap="">
                </td>
                <td width="181" nowrap="">
                </td>
            </tr>
            <tr>
                <td width="157" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="137" nowrap="">
                </td>
                <td width="149" nowrap="">
                </td>
                <td width="181" nowrap="">
                </td>
            </tr>
            <tr>
                <td width="157" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="137" nowrap="">
                </td>
                <td width="149" nowrap="">
                </td>
                <td width="181" nowrap="">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p></p>
<p align="center">
    <font color=#ff751a><strong><u>Πίνακας ΙI</u></strong>
    <strong><u>– Ενδεικτικές καταναλώσεις συσκευών ενεργειακής κλάσης Α++</u></strong></font>
</p>
<div align="center">
    <table border="1" cellspacing="0" cellpadding="0" width="1000">
        <tbody>
            <tr>
                <td width="138" nowrap="">
                </td>
                <td width="305" colspan="2">
                    <p align="center">
                        <strong>
                            Αναγράφεται από το κατασκευαστή
                            <br/>
                            σε ετικέτα πάνω στη συσκευή
                        </strong>
                    </p>
                </td>
                <td width="444" nowrap="" colspan="3">
                    <p align="center">
                        <strong>Τιμές που λαμβάνονται από τον μετρητή ενέργειας ΗΑΜΑ</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="138" nowrap="">
                    <p align="center">
                        <strong>Ηλεκτρική Συσκευή</strong>
                    </p>
                </td>
                <td width="141" nowrap="">
                    <p align="center">
                        <strong>Ονομασία συσκευής</strong>
                    </p>
                </td>
                <td width="165">
                    <p align="center">
                        <strong>Ονομαστική ισχύς</strong>
                    </p>
                    <p align="center">
                        <strong>ή ονομαστική ετήσια κατανάλωση</strong>
                    </p>
                </td>
                <td width="127">
                    <p align="center">
                        <strong>Πραγματική ισχύς</strong>
                    </p>
                </td>
                <td width="125">
                    <p align="center">
                        <strong>Ώρες λειτουργίας</strong>
                    </p>
                </td>
                <td width="192">
                    <p align="center">
                        <strong>Καταναλισκόμενη ενέργεια</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="138" nowrap="">
                    <p align="center">
                        Ψυγείο
                    </p>
                </td>
                <td width="141" nowrap="">
                </td>
                <td width="165" nowrap="">
                    <p align="center">
                        250 kWh ανά έτος =
                    </p>
                    <p align="center">
                       <sup>250 kWh</sup>/<sub>365 ημέρες</sub>​=
                    </p>
                    <p align="center">
                        0.68 kWh ανά ημέρα
                    </p>
                </td>
                <td width="127" nowrap="">
                </td>
                <td width="125" nowrap="">
                </td>
                <td width="192" nowrap="">
                    <p align="center">
                        1.2 kWh ανά ημέρα
                    </p>
                    <p align="center">
                        (Όπως αναφέρεται στον μετρητή ενέργειας)
                    </p>
                </td>
            </tr>
            <tr>
                <td width="138" nowrap="">
                    <p align="center">
                        Κλιματιστικό
                    </p>
                </td>
                <td width="141" nowrap="">
                </td>
                <td width="165" nowrap="">
                </td>
                <td width="127" nowrap="">
                </td>
                <td width="125" nowrap="">
                </td>
                <td width="192" nowrap="">
                </td>
            </tr>
            <tr>
                <td width="138" nowrap="">
                    <p align="center">
                        Τηλεόραση
                    </p>
                </td>
                <td width="141" nowrap="">
                </td>
                <td width="165" nowrap="">
                    <p align="center">
                        20 W
                    </p>
                </td>
                <td width="127" nowrap="">
                    <p align="center">
                        25 W
                    </p>
                </td>
                <td width="125" nowrap="">
                    <p align="center">
                        5 ώρες ανά ημέρα
                    </p>
                </td>
                <td width="192" nowrap="">
                    <p align="center">
                        25 x 5 = 125 Wh ανά ημέρα
                    </p>
                </td>
            </tr>
            <tr>
                <td width="138">
                    <p align="center">
                        Ηλεκτρονικός
                        <br/>
                        Υπολογιστής
                    </p>
                </td>
                <td width="141" nowrap="">
                </td>
                <td width="165" nowrap="">
                    <p align="center">
                        100 W
                    </p>
                </td>
                <td width="127" nowrap="">
                    <p align="center">
                        125 W
                    </p>
                </td>
                <td width="125" nowrap="">
                    <p align="center">
                        5 ώρες ανά ημέρα
                    </p>
                </td>
                <td width="192" nowrap="">
                    <p align="center">
                        125 x 5 = 625 Wh ανά ημέρα
                    </p>
                </td>
            </tr>
            <tr>
                <td width="138" rowspan="3">
                    <p align="center">
                        Άλλες ηλεκτρικές
                        <br/>
                        συσκευές
                    </p>
                </td>
                <td width="141" nowrap="">
                    <p align="center">
                        Τοστιέρα
                    </p>
                </td>
                <td width="165" nowrap="">
                    <p align="center">
                        700 W
                    </p>
                </td>
                <td width="127" nowrap="">
                    <p align="center">
                        1000 W
                    </p>
                </td>
                <td width="125" nowrap="">
                    <p align="center">
                        1 ώρα ανά ημέρα
                    </p>
                </td>
                <td width="192" nowrap="">
                    <p align="center">
                        1000 Wh = 1 kWh ανά ημέρα
                    </p>
                </td>
            </tr>
            <tr>
                <td width="141" nowrap="">
                </td>
                <td width="165" nowrap="">
                </td>
                <td width="127" nowrap="">
                </td>
                <td width="125" nowrap="">
                </td>
                <td width="192" nowrap="">
                </td>
            </tr>
            <tr>
                <td width="141" nowrap="">
                </td>
                <td width="165" nowrap="">
                </td>
                <td width="127" nowrap="">
                </td>
                <td width="125" nowrap="">
                </td>
                <td width="192" nowrap="">
                </td>
            </tr>
        </tbody>
    </table>
</div>