{% load static %}
<a class="btn btn-default" href="{% static 'images/pinakasIIΙ.pdf' %}"><h5><span class="glyphicon glyphicon-download-alt"> <font face="Courier">Πίνακας ΙΙΙ - Καταναλώσεις συσκευών σε κατάσταση αναμονής</font></span></h5></a>
<p></p>
<p align="center">
    <font color=#ff751a><strong><u>Πίνακας ΙΙI</u></strong>
    <strong><u>- Καταγραφή καταναλώσεων ηλεκτρικών συσκευών σε κατάσταση αναμονής</u></strong></font>
</p>
<div align="center">
    <table border="1" cellspacing="0" cellpadding="0" width="900">
        <tbody>
            <tr>
                <td width="204" nowrap="" rowspan="2">
                </td>
                <td width="268" colspan="2" rowspan="2">
                    <p align="center">
                        <strong>
                            Αναγράφεται από τον κατασκευαστή
                            <br/>
                            στην ετικέτα της συσκευής
                        </strong>
                    </p>
                </td>
                <td width="471" nowrap="" colspan="2" rowspan="2">
                    <p align="center">
                        <strong>Τιμές που λαμβάνονται από τον μετρητή ενέργειας ΗΑΜΑ</strong>
                    </p>
                </td>
                <td width="0" height="21">
                </td>
            </tr>
            <tr>
                <td width="0" height="21">
                </td>
            </tr>
            <tr>
                <td width="204" nowrap="">
                    <p align="center">
                        <strong>Ηλεκτρική Συσκευή</strong>
                    </p>
                </td>
                <td width="141" nowrap="">
                    <p align="center">
                        <strong>Ονομασία συσκευής</strong>
                    </p>
                </td>
                <td width="128">
                    <p align="center">
                        <strong>Ονομαστική ισχύς</strong>
                    </p>
                </td>
                <td width="124">
                    <p align="center">
                        <strong>Πραγματική σχύς</strong>
                    </p>
                </td>
                <td width="347">
                    <p align="center">
                        <strong>Ώρες λειτουργίας ανά ημέρα</strong>
                    </p>
                    <p align="center">
                        <strong>Ισχύς σε κατάσταση αναμονής</strong>
                    </p>
                </td>
                <td width="0" height="35">
                </td>
            </tr>
            <tr>
                <td width="204" nowrap="">
                    <p align="center">
                        Ασύρματο Router
                    </p>
                </td>
                <td width="141" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="124" nowrap="">
                </td>
                <td width="347" nowrap="">
                </td>
                <td width="0" height="21">
                </td>
            </tr>
            <tr>
                <td width="204" nowrap="">
                    <p align="center">
                        Φορτιστής κινητού τηλεφώνου
                    </p>
                </td>
                <td width="141" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="124" nowrap="">
                </td>
                <td width="347" nowrap="">
                </td>
                <td width="0" height="21">
                </td>
            </tr>
            <tr>
                <td width="204" nowrap="">
                    <p align="center">
                        Τροφοδοτικό φορητού Η/Υ Laptop
                    </p>
                </td>
                <td width="141" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="124" nowrap="">
                </td>
                <td width="347" nowrap="">
                </td>
                <td width="0" height="21">
                </td>
            </tr>
            <tr>
                <td width="204" nowrap="">
                    <p align="center">
                        Ασύρματο τηλέφωνο
                    </p>
                </td>
                <td width="141" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="124" nowrap="">
                </td>
                <td width="347" nowrap="">
                </td>
                <td width="0" height="21">
                </td>
            </tr>
            <tr>
                <td width="204" rowspan="3">
                    <p align="center">
                        Τηλεόραση
                    </p>
                </td>
                <td width="141" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="124" nowrap="">
                </td>
                <td width="347" nowrap="">
                </td>
                <td width="0" height="21">
                </td>
            </tr>
            <tr>
                <td width="141" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="124" nowrap="">
                </td>
                <td width="347" nowrap="">
                </td>
                <td width="0" height="21">
                </td>
            </tr>
            <tr>
                <td width="141" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="124" nowrap="">
                </td>
                <td width="347" nowrap="">
                </td>
                <td width="0" height="21">
                </td>
            </tr>
            <tr>
                <td width="204" rowspan="4">
                    <p align="center">
                        Άλλες ηλεκτρικές συσκευές
                    </p>
                </td>
                <td width="141" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="124" nowrap="">
                </td>
                <td width="347" nowrap="">
                </td>
                <td width="0" height="21">
                </td>
            </tr>
            <tr>
                <td width="141" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="124" nowrap="">
                </td>
                <td width="347" nowrap="">
                </td>
                <td width="0" height="21">
                </td>
            </tr>
            <tr>
                <td width="141" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="124" nowrap="">
                </td>
                <td width="347" nowrap="">
                </td>
                <td width="0" height="21">
                </td>
            </tr>
            <tr>
                <td width="141" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="124" nowrap="">
                </td>
                <td width="347" nowrap="">
                </td>
                <td width="0" height="21">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p></p>
<p align="center">
    <font color=#ff751a><strong><u>Πίνακας ΙII</u></strong>
    <strong><u>- Παράδειγμα</u></strong></font>
</p>
<div align="center">
    <table border="1" cellspacing="0" cellpadding="0" width="900">
        <tbody>
            <tr>
                <td width="204" nowrap="" rowspan="2">
                </td>
                <td width="268" colspan="2" rowspan="2">
                    <p align="center">
                        <strong>
                            Αναγράφεται από τον κατασκευαστή
                            <br/>
                            στην ετικέτα της συσκευής
                        </strong>
                    </p>
                </td>
                <td width="470" nowrap="" colspan="2" rowspan="2">
                    <p align="center">
                        <strong>Τιμές που λαμβάνονται από τον μετρητή ενέργειας ΗΑΜΑ</strong>
                    </p>
                </td>
                <td width="0" height="21">
                </td>
            </tr>
            <tr>
                <td width="0" height="21">
                </td>
            </tr>
            <tr>
                <td width="204" nowrap="">
                    <p align="center">
                        <strong>Ηλεκτρική Συσκευή</strong>
                    </p>
                </td>
                <td width="141" nowrap="">
                    <p align="center">
                        <strong>Ονομασία συσκευής</strong>
                    </p>
                </td>
                <td width="128">
                    <p align="center">
                        <strong>Ονομαστική ισχύς</strong>
                    </p>
                </td>
                <td width="221">
                    <p align="center">
                        <strong>Ισχύς σε κατάσταση αναμονής</strong>
                    </p>
                </td>
                <td width="249">
                    <p align="center">
                        <strong>Καταναλισκόμενη ενέργεια</strong>
                        <strong> </strong>
                        <strong>ανά έτος</strong>
                    </p>
                </td>
                <td width="0" height="35">
                </td>
            </tr>
            <tr>
                <td width="204" nowrap="">
                    <p align="center">
                        Ασύρματο Router
                    </p>
                </td>
                <td width="141" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="221" nowrap="">
                </td>
                <td width="249" nowrap="">
                </td>
                <td width="0" height="21">
                </td>
            </tr>
            <tr>
                <td width="204" nowrap="">
                    <p align="center">
                        Φορτιστής κινητού τηλεφώνου
                    </p>
                </td>
                <td width="141" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="221" nowrap="">
                    <p align="center">
                        0.3 W
                    </p>
                </td>
                <td width="249" nowrap="">
                    <p align="center">
                        0.3 x 365 ημέρες x 24 ώρες ανά ημέρα =
                    </p>
                    <p align="center">
                        2.6 kWh ανά έτος
                    </p>
                </td>
                <td width="0" height="21">
                </td>
            </tr>
            <tr>
                <td width="204" nowrap="">
                    <p align="center">
                        Τροφοδοτικό φορητού Η/Υ Laptop
                    </p>
                </td>
                <td width="141" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="221" nowrap="">
                </td>
                <td width="249" nowrap="">
                </td>
                <td width="0" height="21">
                </td>
            </tr>
            <tr>
                <td width="204">
                    <p align="center">
                        Τηλεόραση
                    </p>
                </td>
                <td width="141" nowrap="">
                </td>
                <td width="128" nowrap="">
                </td>
                <td width="221" nowrap="">
                    <p align="center">
                        0.2 W
                    </p>
                </td>
                <td width="249" nowrap="">
                    <p align="center">
                        0.2 x 365 ημέρες x 24 ώρες ανά ημέρα =
                    </p>
                    <p align="center">
                        1.8 kWh ανά έτος
                    </p>
                </td>
                <td width="0" height="21">
                </td>
            </tr>
        </tbody>
    </table>
</div>